<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="3" >
    <test name="Cucumber Sample Test Android1" preserve-order="true" >
        <parameter name="deviceName" value="Galaxy S21 5G"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="platformName" value="Android"/>
        <classes>
            <class name="MyRunner.appRunner" />
        </classes>
    </test>
    <test name="Cucumber Sample Test Android2" preserve-order="true" >
        <parameter name="deviceName" value="Galaxy S21 Ultra 5G"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="platformName" value="Android"/>
        <classes>
            <class name="MyRunner.appRunner" />
        </classes>
    </test>
    <test name="Cucumber Sample Test Android3" preserve-order="true" >
        <parameter name="deviceName" value="Galaxy S20"/>
        <parameter name="platformVersion" value="10"/>
        <parameter name="platformName" value="Android"/>
        <classes>
            <class name="MyRunner.appRunner" />
        </classes>
    </test>
    </suite>